/* SEÇÃO 2 */
.contact-section1 {
    display: block;
    color: #000;
    min-height: 590px;
    margin: 0; /* Removes any default margins */
    padding: 40px 20px;

}
.bg-blue2 {
    background-color: rgba(59, 31, 100, 1);
    width: 100%;
    padding: 40px 0;
    min-height: 590px;

    }
    .container-contact h1{
        margin-top: 10px;
        font-size: 40px;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .container-contact h2{
        margin-top: 10px;
        font-weight: 500;
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
    }

    .container-contact {
        width: 50%;
        max-width: 1200px;
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 60%;
        align-self: center;
    }
.contact-container1 {
    width: 50%;
    max-width: 1200px;
    margin: 60px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    align-self: center;
    text-transform:capitalize;
}
.contact-adicional {

color: white;
display: flex;
justify-content: center;
}

    /* Rodapé 1 */

  .contact-section1 {
    width: 100%;
    margin: auto auto;
    padding: 15px 15px;
    position: relative;
  }
  .contact1-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .contact1-text2  {
    margin: 0;
    color: white;
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
  }
  
  .contact1-text2:hover {
    font-weight: 900;
  }
  nav a.contact1-text2 {
    color: white;
    text-decoration: none;
    color: inherit;
    margin: 0 3px;
    position: relative;
  
  
  }
  
  nav a.contact1-text2:not(:last-child)::after {
    content: "|";
    color: inherit;
    margin-left: 6px;
  }

.contact1-link-content {
    color: white;
    font-size: 30px;
display: flex;
justify-content: center;
}

.contact2-link-content {
    color: white;
    list-style: none;
    font-size: 0px;
display: flex;;

justify-content: center;
}
.contact2-list-content {
    list-style: none;
    margin-top: 50px;
    display: flex;
   

}
.contact2-text2 {
    font-size: 22px;
    color: white;
    align-items: center;
    margin-left: 30px;
}