@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
background-color: rgba(173, 173, 173, 0.178);
width: 100%;

}
.header-container{
    width: 100%;
    margin: auto auto;
    padding: 15px 15px;
    position: relative;
}
.header-menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}




.container a{
    display: block;
    margin-bottom: 40px;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    
    
}


/* IMPORT */

.navMenu a {
    color: #3d3d3d;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    width: 80px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}
.navMenu a:hover {
    color: rgba(59, 31, 100, 1);
  }
  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: rgba(59, 31, 100, 1);
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(108px);
    transform: translateX(108px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }
  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(305px);
    transform: translateX(305px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }
.menu-button{
  width: 60px;
  height: 60px;
  background-color: #f6f4e6;
  cursor: pointer; 

}


/* IMPORT */
/* MEDIA */
@media (max-width: 1024px) {
  .header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(173, 173, 173, 0.178);
    width: 100%;
    
    }
    .header-container{
        width: 100%;
        margin: auto auto;
        padding: 15px 15px;
        position: relative;
    }
    .header-menu-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    .navMenu a {
      color: #3d3d3d;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 20px;
      font-weight: 500;
      font-size: 16px;
      display: inline-block;
      white-space: nowrap;
      width: 80px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
}
}